@font-face {
    font-family: 'FarWestFont';
    src: url('fonte/Carnevalee\ Freakshow.ttf') format('truetype');
}

div {
    text-align: center;
}

img {
    width: 85%;
    height: 85%;
}

.imagem {
    background-color: #c2c2c2;

}

#HeroName {
    background-color: #20124d;
    color: red;
    text-align: center;
    letter-spacing: 10px;
    text-decoration: underline;
    font-style: italic;
}

#HeroMoney {
    background-color: #274e13;
    text-align: center;
}

#HeroHitPoints {
    background-color: red;
    text-align: center;
}

.identificação {
    height: 70px;
    color: white;
    letter-spacing: 3px;
    font-family: FarWestFont;
    font-size: 48px;
}

.titulo {
    font-family: FarWestFont;
    text-align: center;
    display: grid;
}

.descrição {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}

.ATRIBUTOS {
    background-color: #783f04;
}

.atributo {
    padding: 30px;
    text-align: left;
    font-size: 20px;
}

.valorAtributo {
    padding: 30px;
    font-size: 20px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ANTECEDENTES {
    background-color: #4c1130;
}

.antecedente {
    padding: 8px;
    text-align: left;
}

.valorAntecedente {
    padding: 8px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.TORMENTO {
    background-color: #660000;
}

.HABILIDADES {
    background-color: #0c343d;
    display: block;
}

.habilidade {
    font-size: 25px;
}