@font-face {
    font-family: 'FarWestFont';
    src: url('fonte/Carnevalee\ Freakshow.ttf') format('truetype');
}

#HeroName {
    background-color: #20124d;
    color: red;
    height: 50px;
    text-align: center;
    font-size: 48px;
    letter-spacing: 10px;
    font-family: FarWestFont;
    text-decoration: underline;
    font-style: italic;
}

#HeroMoney {
    background-color: #274e13;
    color: white;
    height: 50px;
    text-align: center;
    font-size: 48px;
    letter-spacing: 3px;
    font-family: FarWestFont;
}

#HeroHitPoints {
    background-color: red;
    color: white;
    height: 50px;
    text-align: center;
    font-size: 48px;
    letter-spacing: 3px;
    font-family: FarWestFont;
}